<.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-xl lg:mx-0">
    
    <div class="fixed bottom-4 right-10 mb-4 ml-4 text-8xl text-cyan-900 text-shadow-2xl">
      ShopHawk
    </div>
  </div>
</div>
