<main class="">
  <div class="mx-auto max-w-full">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
