<div class="">
  <div class="bg-cyan-900 fixed rounded inset-0 top-[5.71rem] left-4 right-auto w-[8rem] pb-10 pl-4 pr-6 overflow-y-auto">
    hi
  </div>
  <div class="bg-cyan-900 fixed rounded inset-0 top-[5.71rem] left-40 right-auto w-[8rem] pb-10 pl-4 pr-6 overflow-y-auto">
    hi
  </div>
  <div class="bg-cyan-900 rounded ml-[17rem]">
    <.button class="w-20" phx-click="test">hi</.button>
    hi
  </div>
</div>
